<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Admin Page</title>
</head>
<body>
	<p><a href="opereadmin">Opere</a></p>
	<p><a href="autoriAdmin">Autori</a></p>
	<p><a href="formAmministratore">Registra nuovo admin</a></p>
	<p><a href="admin">Amministratori</a></p>
	<p><a href="formOpera">Inserisci opera</a></p>
	<p><a href="logout">LogOut</a></p>
	
	
	<div th:if="${inserita}">Opera Inserita Correttamente</div>
	<div th:if="${newadmin}">Nuovo Admin Inserito Correttamente</div>
	<div th:if="${delete}">Opera Cancellata Correttamente</div>
	<div th:if="${deleteAutore}">Autore cancellato correttamente</div>
</body>
</html>