<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Autore</title>
</head>
<body>
	<h1>Autore</h1>
	<p><b>Nome:</b><span th:text="${autore.nome}"></span></p>
	<p><b>Cognome:</b><span th:text="${autore.cognome}"></span></p>
	<p><b>Nazionalita:</b><span th:text="${autore.nazionalita}"></span></p>
	<p><b>Data nascita:</b><span th:text="${autore.dataNascita}"></span></p>
	<p><b>Data Morte:</b><span th:text="${autore.dataMorte}"></span></p>
</body>
</html>