<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Nuova Opera</title>
</head>
<body>

	<h2>Nuova Opera </h2>
		
	<form th:action="@{opere}" th:object="${opera}" method="post">
		<div>
			<label>Titolo</label> <input th:field="*{titolo}" type="text"/>
		</div>
		<div>
			<label>Tecnica</label> <input th:field="*{tecnica}" type="text"/>
		</div>
		<div>
			<label>Anno di realizzazione</label> <input th:field="*{dataRealizzazione}" type="text"/>
		</div>
		<div>
			<label>Dimensione</label> <input th:field="*{dimensione}" type="text"/>
		</div>
		<div>
			<input type="submit" value="salva"/>
		</div>
		
	</form>	
</body>

</html>