<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>

<title>Opere</title>
</head>
<body>
	<h1>Lista opere</h1>
	
	<div th:if="${user}">
		<form th:action="@{ricercaOpere}">
			<select name="tipoRicerca">
				<option value="operaTitolo">Per nome</option>
				<option value="operaAnno">Per anno</option>
				<option value="autore">Per autore</option>
			</select>
			<input type="text"  th:name="ricerca"/>
			<input type="submit" value="Cerca"/>
		</form>
	</div>
	
	<div th:each="opera : ${opere}">
		<b>Titolo:<a th:href="@{opere/}+${opera.id}" th:text="${opera.titolo}"></a></b>
		<form th:action="@{opere/}+${opera.id}" th:method="delete">
			<div th:if="${admin}"><input type="submit" value="cancella"/></div>
		</form>
	</div>
	
	<div th:if="${admin}"><p><a href="/adminPage">Torna All'Area Admin</a></p></div>
	<div th:if="${user}"><p><a href="/">Torna Alla Home</a></p></div>
</body>
</html>