<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>

<title>Opere</title>
</head>
<body>
	<h1>Lista opere</h1>
	
	<div th:each="opera : ${opere}">
		<a th:href="@{opere/}+${opera.id}" th:text="${opera.titolo}">Titolo</a>
		<form th:action="@{opere/}+${opera.id}" th:method="delete">
			<input type="submit" value="cancella"/>
		</form>
	</div>
	<p><a href="/">Torna alla Home</a></p>
	<div th:if="${autenticato}"><a href="logout">LogOut</a></div>
</body>
</html>