<!DOCTYPE html>
<html lang="it"  xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>

<title>Opera</title>
</head>
<body>
	
		<h1 th:text="${opera.titolo}">Titolo</h1>
		
		<p><b>Tecnica:</b><span th:text="${opera.tecnica}"></span></p>
		<p><b>Dimensione:</b><span th:text="${opera.dimensione}"></span></p>
		<p><b>Anno di realizzazione:</b><span th:text="${opera.dataRealizzazione}"></span></p>
		<p><b>Autore:</b><a th:href="@{autore/}+${opera.autore.id}" th:text="${opera.autore.nome}"></a></p>
			
</body>
</html>